<section id="hero" class="wow fadeIn">
    <div class="hero-container">
        <h1>Welcome to HighScoreService</h1>
        <h2>An easy way for game developers to add leader boards to their games </h2>


        <a asp-area="Identity" asp-page="/Account/Register" class="btn-get-started scrollto">Sign Up Now</a>
        <a asp-controller="ScoreBoard" asp-action="CreateScoreBoard" class="btn-get-started scrollto">Start Anonymously</a>
    </div>
</section>

<section id="get-started" class="padd-section text-center wow fadeInUp">

    <div class="container">
        <div class="section-title text-center">

            <h2>A Simple and Easy Process</h2>
            <p class="separator">A 3 Step Process</p>

        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="img/svg/cloud.svg" alt="img" class="img-fluid">
                    <h4>Register or Start Anonymously</h4>
                    <p></p>
                    <a href="#"></a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="img/svg/planet.svg" alt="img" class="img-fluid">
                    <h4>Integrate into your Game</h4>
                    <p></p>
                    <a href="#"></a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">

                    <img src="img/svg/asteroid.svg" alt="img" class="img-fluid">
                    <h4>Query our API</h4>
                    <p></p>
                    <a href="#"></a>

                </div>
            </div>

        </div>
    </div>

</section>

<!--==========================
  Features Section
============================-->

<section id="features" class="padd-section text-center wow fadeInUp">

    <div class="container">
        <div class="section-title text-center">
            <h2>Amazing Features.</h2>
            <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="img/svg/design-tool.svg" alt="img" class="img-fluid">
                    <h4>Easy to Use</h4>
                    <p>Dead simple to integrate into Unity</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="img/svg/pixel.svg" alt="img" class="img-fluid">
                    <h4>No Vendor Lock in</h4>
                    <p>Wanna switch ? Or roll your own solution ? Go ahead</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="feature-block">
                    <img src="img/svg/code.svg" alt="img" class="img-fluid">
                    <h4>Cleaner Code</h4>
                    <p>No need to integrate a 3rd party SDK</p>
                </div>
            </div>


        </div>
    </div>
</section>

<!--==========================
  Pricing Table Section
============================-->
@*<section id="pricing" class="padd-section text-center wow fadeInUp">

    <div class="container">
        <div class="section-title text-center">

            <h2>Pricing</h2>
            <p class="separator">Coming Soon</p>
            <p class="separator">Sign Up to use the free tier</p>
        </div>
    </div>

</section>
<style>
    .footer {
        position: inherit;
    }
</style>*@