@model Domain.Entities.ScoreBoard


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="card shadow-lg" style="width: 60rem;">
                <div class="card-body text-center">
                    <h2 class="card-title">Your score board has been created :)</h2>
                    <h3 class="card-title">Here is your ScoreBoard Identifier:</h3>
                    <h3 class="card-title token">@Model.Identifier</h3>
                    <h3 class="card-title">Keep this safe ! Don't Lose it</h3>
                    <h3 class="card-title">Use your token every time you make a call to our service</h3>
                    <a href="~/swagger" target="_blank" rel="noopener noreferrer" class="btn btn-primary card-btn-go">Click me to see how to use it</a>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-title.token {
        color: red;
        font-weight: bold;
        margin-top: 20px;
        font-size: 22px;
    }
    .btn.btn-primary.card-btn-go {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
    }
</style>