<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>High Score Service</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/litera/bootstrap.min.css"
          integrity="sha512-RxCahUxa1Cg6Zebd0MrBja/PvGkHdD+xKCDDWVSls3qRGuvjaLQe56GPrUO9Ab0JB+sR1IPcwm/Qg1g1eHMr/Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary ms-auto">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Highscore Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                

                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="ViewAllGames" asp-controller="GamesAdmin">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="ViewAllScoreBoards" asp-controller="ScoreBoardAdmin">Boards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="~/swagger/index.html" target="_blank" rel="noopener noreferrer">API Docs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu">
                            <a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="btn btn-default" asp-action="Logout" asp-controller="Logout">Logout</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/moretocome">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }

            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <main role="main" class="body">
        @RenderBody()
    </main>
</div>
<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-muted">About</a>
            </li>
        </ul>
        <p class="text-center text-muted">© Copyrights HighScoreService. All rights reserved.</p>
        <p class="text-center text-muted">Created by Avaneesa Basappa</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
<script src="~/js/main.js"></script>

@RenderSection("Scripts", required: false)
</body>
</html>